name: Run ktlint

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  ktlint:
    name: Run ktlint
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - run: |
        sudo chown -R root:root $GITHUB_WORKSPACE
        ls
        
    - name: Run ktlint
      uses: wing-tree/action-ktlint@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: github-pr-review
        custom_rule_path: "ttttt.jar"
        android: true
        fail_on_error: true
        level: warning
