name: Run ktlint

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

jobs:
  ktlint:
    name: Run ktlint
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
        
    - name: Run ktlint
      uses: wing-tree/action-ktlint@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: github-pr-review
        custom_rule_path: "dwds-sample/ktlint-ruleset-standard-0.49.1.jar"
        android: true
        fail_on_error: true
        level: warning
